<!DOCTYPE html>
#{set title: 'Rancho Alegre'/}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="Matheus Pinherio Pereira" content="">

        <title>#{get 'title' /}</title>
        <!--chamadado bootstrap css para todos os modelos-->
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/Cliente.css'}">
        #{get 'moreStyles' /}
    </head>

    <body> 
        <div class="container-fist">
            <div class="row">
                <nav class=" col-md-12 " >
                    <div class="row">
                        <div class="col-md-12" id="caixa">
                            <div class ="row">
                                <div class="col-md-12 btns">

                                    <div class="col-md-12 botoes"> 
                                        <a href="@{Start.start}" ><i class="glyphicon glyphicon-circle-arrow-left"></i><span> Volta </span></a>
                                        <a  class="link" href="@{Cardapios.cardapioCliente}" ><span>Cardápio </span><i class="glyphicon glyphicon-apple"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!--box caixa-->
            <div class="box">

                <form  method="POST" action="@{Clientes.autenticacao}">
                    <div class="modal-body">
                        <div class="tag">
                            <!--<img alt="" src="/public/images/logo2.ico">-->
                        </div>

                        <div id="label">Rancho Alegre</div>

                        <div id="senha">
                            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required >
                        </div>

                    </div>

                    <div>
                        <button type="submit" class="log-btn">Entrar</button>
                    </div>
                </form>
                #{if flash.error}
                <div class="alert alert-danger col-md-12">
                    <p>${flash.error.raw()}</p>
                </div>
                #{/if}
            </div>
        </div>
    </div>
</div> 
#{get 'moreScripts' /}
</body>
</html>