#caixa{
    margin-left: 230px;
     background-color: #00a680;  
    
}

.link{
    color: #fff;
    width: 100%;
    padding: 8px;
    display: block;
    width: 70%;
    text-align: center;
    border-radius: 3px;
}
.link:hover{
    background-color: #fff;
    color: #088A08;/*verde mais escuro*/ 

}

.btns{
    padding-top: 8px;
    padding-bottom: 8px;
}
